<!DOCTYPE html>
<html>
<head>
  <title>{% if page.title %}{{ page.title }} | {% endif %} Kieran Maynard's Website</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>	
  <link rel="stylesheet" href="{{ site.baseurl }}/styles.css">
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-XXXXXXXXXX"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'G-XXXXXXXXXX');
  </script>
</head>
<body>
  <header>
    <a href="{{ site.baseurl }}/index.html">back to homepage</a>
  </header>
  
  {{ content }}
  
  <footer>
    <a href="{{ site.baseurl }}/index.html">back to homepage</a>
  </footer>
</body>
</html>

