<!DOCTYPE html>
<html>

<head>
  <title>{% if page.title %}{{ page.title }} | {% endif %} Wind-Up Bird Lost Chapters</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <link rel="stylesheet" href="{{ site.baseurl }}/styles.css">
</head>

<body>
  <header>
    <ul>
      <li><a href="index">back to homepage</a></li>
      <li><a href="wind-up-15"><em></em>The Wind-Up Bird Chronicle</em> - Chapter 15 Translation</a></li>
      <li><a href="wind-up-17"><em>The Wind-Up Bird Chronicle</em> - Chapter 17 Translation</a></li>
      <li><a href="wind-up-18"><em>The Wind-Up Bird Chronicle</em> - Chapter 18 Translation</a></li>
      <li><a href="wind-up-26"><em>The Wind-Up Bird Chronicle</em> - Chapter 26 Translation</a></li>
    </ul>
  </header>

  {{ content }}

  <footer>
    <ul>
      <li><a href="index">back to homepage</a></li>
      <li><a href="wind-up-15"><em>The Wind-Up Bird Chronicle</em> - Chapter 15 Translation</a></li>
      <li><a href="wind-up-17"><em>The Wind-Up Bird Chronicle</em> - Chapter 17 Translation</a></li>
      <li><a href="wind-up-18"><em>The Wind-Up Bird Chronicle</em> - Chapter 18 Translation</a></li>
      <li><a href="wind-up-26"><em>The Wind-Up Bird Chronicle</em> - Chapter 26 Translation</a></li>
    </ul>
  </footer>
</body>

</html>